// Place all the styles related to the favourites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.background {
	background: url(/assets/background.JPG);
  background-size: cover;
    position:fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    margin-right:500px;
  	z-index : 1;
}*/




.resultbox {
	width: 100%;
	left: 0;
  right: 0;
  color: black;
  margin: 0 auto;
  margin-left: 50px;
  text-align:center;
  padding-top: 50px;

  /*background-image: asset-url("background.JPG"); */

}

.navbar {
  overflow: hidden;
}

.back {
  background-image:asset-url("background.JPG");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}