// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
}

.box{
margin-top: 10px;
border:solid;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 30px;
width: 400px;
}

.pic{
	border-radius:50%;
	border-style:solid;
	border-width:2px;
	border-color:white;
	position:relative
}

.words{
	position:relative
}

/* Reset */

section {
    min-height: 100vh;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#how>div:nth-of-type(1) {
    background: url(/assets/restaurant_pic_1.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    position:absolute;
    width:100%;
    top:0;left:0;
}


#what>div:nth-of-type(1){
    background: url(/assets/water.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    position:absolute;
    top:0;left:0;
    width:100%;   
}

section h1{color:white;width:300px;font-size:65px;margin-bottom:14px;}
section p{color:white;width:300px;}
section article{position:absolute;top:240px;left:40px;width:300px;z-index:4;}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}

