<nav>
<%= render partial: "layouts/navbar" %>
</nav>


<!Doctype html>

<html>
<head>
    <title>###</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section id="what">
        <article>
        <h1>No one likes waiting in line. NO ONE!</h1>       
        </article>
        <div class="parallax" data-velocity="-.3">
        <div class="intro-container">
        <p><strong>Introducing Munch Time! </br>
        This site provides real time updates on restaurants' wait times. It allows you to have realistic expectations of a restaurant's current wait time and thus never again be horrified by the long line of a restaurant upon arrival.</strong> </p>
        </div> 
        </div>
    </section>
    <section id="how">
        <article>
        <h1>How does it work?</h1>    
        </article>
        <div class="parallax" data-velocity="-.1"></div>
        <div class="intro-container">
        <p><strong>
        This websites employs advanced algorithems to calculate current wait times for restaurants by gathering information from its users as well as the restaurants themselves. Give it a try by searching for a restaurant in the search bar at the top of the page. It is incredibley easy to use. Get nomming! </strong></p>
        </div>
        <div class="parallax" data-velocity="-.5" data-fit="525"></div>
    </section>
</header>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="../jquery.scrolly.js"></script>
<script>
    $(document).ready(function(){
       $('.parallax').scrolly({bgParallax: true});
    });
</script>
</body>
</html>