

<%= form_for(:search, url:places_path) do |f| %> 
<%= f.label :keywords %> <%= f.text_field :keywords%>
<%= f.submit "Search", class: "btn btn-primary navbar-btn" %>
<% end %>


<input type="submit" value="Places near you" onclick="showlocation()"/> 
 
<br/>
Latitude: <span id="latitude">..</span> <br>
Longitude: <span id="longitude">..</span>
 
<SCRIPT>
function showlocation(){
    navigator.geolocation.watchPosition(callback);
}
function callback(position){
    var latitude =position.coords.latitude;
    var longitude =position.coords.longitude;
    var data = {
    		coordinates: {
    			longitude: longitude, 
    			latitude: latitude
    		}
    	};
    $.ajax({
		type: "POST",
		url: "/nearby",
		data: data,
		success: function (json){
			console.log(json);
			$('#content').text(json);
		},
		dataType: "json"
	});
}


</SCRIPT>



<!-- 
	1. figure out how to trigger action once .submit>
	2. how to pass onto the keyword into a method
	3. should I place the search function within the .rb file or controller file

	-->