

<%= form_for(:search, url:places_path) do |f| %> 
<%= f.label :keywords %> <%= f.text_field :keywords%>
<%= f.submit "Search", class: "btn btn-primary navbar-btn" %>
<% end %>


<input type="submit" value="Places near you" onclick="showlocation()"/> 
 
<br/>

 
<SCRIPT>
function showlocation(){
    navigator.geolocation.watchPosition(callback);
}
function callback(position){
    var latitude =position.coords.latitude;
    var longitude =position.coords.longitude;
    var data = {
    		coordinates: {
    			longitude: longitude, 
    			latitude: latitude
    		}
    	};
    $.ajax({
		type: "POST",
		url: "/nearby",
		data: data,
		success: function (json){
			for (i=0; i < 5; i++) {
			console.log(json.businesses[i].name);

			var img = $('<img class="business-picture">');
			img.attr('src', json.businesses[i].image_url);
			img.appendTo("#content");

			//$("p#content").text(json.businesses[0].name);
			//$("p#content").text(json.businesses[i].location.address);
			//$("p#content").text(json.businesses[i].location.city);
			//$("p#content").text(json.businesses[i].rating_img_url_large);
		}
		//$("p#content").text(json.businesses[0].name + json.businesses[1].name);
		},
		dataType: "json"
	});
}


</SCRIPT>

<body>
	<p id="content">
		show something here
	</p>


</body>

<!-- 
	1. figure out how to trigger action once .submit>
	2. how to pass onto the keyword into a method
	3. should I place the search function within the .rb file or controller file

	-->